@import "../../styles/color-variables.scss";

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: $main-color;
}

.content-section {
  margin: 40px 0;
}

.content-section h2 {
  margin-bottom: 10px;
  color: $main-color;
}

.content-section p {
  line-height: 1.6;
}

.content-section ul {
  margin-top: 10px;
  padding-left: 20px;
}

.content-section ul li {
  margin-bottom: 5px;
}

