.navbar {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-right: 30px;
  list-style-type: none;
  font-size: 22px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar .active {
  border-bottom: 2px solid green;
  padding-bottom: 3px;
}

.login-btn{
  border: none;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.login-btn:hover{
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.access{
  pointer-events: none;
  opacity:0.6;
}